<div class="dashboard-container">
  <!-- Barra de navegación -->
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile>
      <h1>Bienvenido al Dashboard</h1>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="menu-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addBoard()">
          <mat-icon>add</mat-icon>
          <span>Agregar Tablero</span>
        </button>
        <button mat-menu-item (click)="exportBoards()">
          <mat-icon>save_alt</mat-icon>
          <span>Exportar</span>
        </button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Contenido del dashboard -->
  <div class="dashboard-content">
    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar Tableros</mat-label>
      <input
        matInput
        [(ngModel)]="searchQuery"
        placeholder="Nombre del tablero"
      />
    </mat-form-field>

    <div class="boards-container">
      <app-board-card
        *ngFor="let board of filterBoards()"
        [board]="board"
        (viewBoard)="navigateToBoard($event)"
        (deleteBoard)="removeBoard($event)"
      ></app-board-card>
    </div>
  </div>
</div>
