<div class="dashboard-container">
  <!-- Barra de navegación -->
  <mat-grid-list [cols]="getGridCols()" rowHeight="60px" gutterSize="16px">
    <mat-grid-tile [colspan]="getTitleSpan()">
      <h1>Bienvenido al Dashboard</h1>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="showMenuButton()">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="menu-button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addBoard()">
          <mat-icon>add</mat-icon>
          <span>Agregar Tablero</span>
        </button>
        <button mat-menu-item (click)="exportBoards()">
          <mat-icon>save_alt</mat-icon>
          <span>Exportar</span>
        </button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Contenido del dashboard -->
  <div class="dashboard-content">
    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar Tableros</mat-label>
      <input
        matInput
        [(ngModel)]="searchQuery"
        placeholder="Nombre del tablero"
      />
    </mat-form-field>

    <div class="boards-container">
      <ng-container *ngIf="boards$ | async as boards">
        <app-board-card
          *ngFor="let board of filterBoards(boards)"
          [board]="board"
          (viewBoard)="navigateToBoard($event)"
          (deleteBoard)="removeBoard($event)"
        ></app-board-card>
      </ng-container>
    </div>
  </div>
</div>
